<div id="logo">
    <img src="https://cdn.wallpapersafari.com/60/53/ZjsAkn.jpg" alt="Logo of Eat-Da-Burger!">
</div>

<h1>Eat-da-Burger!</h1>

<h2>Build a Burger</h2>
<form class="create-form" id="build-burger">
    <label for="bn">Burger Name: </label>
    <input type="text" id="bn" name="name">
    {{!-- <textarea type="text" name="build" placeholder="build a burger (e.g. Super-chomper)"></textarea> --}}
    <button type="submit">Submit Order!</button>
</form>


{{!-- This waiting area displays uneaten burgers --}}
<section class="burgers">
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{burger}} <button class="devour-burger" data-id="{{this.id}}">DEVOUR!</button>
        {{/unless}}
        {{/each}}

        {{!-- {{#each new-burgers}}
        <li>
            <p>
                {{this.id}}. {{this.name}}

                <button data-burgerId="{{this.id}}" class="devour">Devour it!</button>
            </p>
        </li>
        {{/each}} --}}
    </ul>
</section>

{{!-- This section displays eaten burgers  --}}
<section class="devoured">
    <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{burger}}
        {{/if}}
        {{/each}}
        {{!-- {{#each burgers}}
        <li>
            <p>
                {{this.id}}. {{this.name}}
            </p>
        </li>
        {{/each}} --}}
    </ul>
</section>

<script type="text/javascript">
    // Make sure we wait to attach our handlers until the DOM is fully loaded.
    $(function () {
        $(".create-form").on("submit", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();

            let newBurger = {
                name: $("#bn").val().trim()
            };

            // Send the POST request.
            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(
                function () {
                    console.log("created new burger");
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });

        $(".devour-burger").on("click", function (event) {
            let id = $(this).data("id");

            let devouredState = {
                devoured: TRUE
            };

            // Send the PUT request.
            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: devouredState
            }).then(
                function () {
                    console.log("changed devoured state to ", devoured);
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });
    });

</script>