<div class="container" id="main-container">

    {{!-- Logo and burger builder --}}
    <div class="jumbo-board">
        <div id="logo">
            <img id='logo-img'
                src="https://www.chimpstickers.com/wp-content/uploads/2017/11/cute-things024-hamburguer.png"
                alt="Logo of Eat-Da-Burger!">
        </div>

        <h1>Eat-da-Burger!</h1>
        <hr>
        <form class="create-form" id="build-burger">
            <label for="bn">Name a burger to build: </label>
            <input type="text" id="bn" name="name">
            {{!-- <textarea type="text" name="build" placeholder="build a burger (e.g. Super-chomper)"></textarea> --}}
            <button type="submit">Submit Order!</button>
        </form>
        {{!-- End of jumbo-board --}}
    </div>

    <div class="container">
        <div class="row">

            {{!-- This waiting area displays uneaten burgers --}}
            <div class="col-lg-6 left">
                <h2 class='burger-header'>Edible Burgers</h2>
                <hr>
                <ul class="edible-list">
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li>#{{this.id}}: {{this.burger_name}} <button class="devour-btn"
                            data-id="{{this.id}}">DEVOUR!</button></li>
                    {{/unless}}
                    {{/each}}
                </ul>
                {{!-- End of left column --}}
            </div>

            {{!-- This section displays eaten burgers  --}}
            <div class="col-lg-6 right">
                <h2 class='burger-header'>Devoured Burgers</h2>
                <hr>
                <ul class="devoured-list">
                    {{#each burgers}}
                    {{#if devoured}}
                    <li>#{{this.id}}: {{this.burger_name}}</li>
                    {{/if}}
                    {{/each}}
                </ul>
                {{!-- End of right column --}}
            </div>

            {{!-- End of row --}}
        </div>

        {{!-- End of container --}}
    </div>

    {{!-- End of main container --}}
</div>

<script type="text/javascript">
    // Make sure we wait to attach our handlers until the DOM is fully loaded.
    $(function () {
        $(".create-form").on("submit", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();

            // Validate burger name input
            if ($('#bn').val()) {

                let newBurger = {
                    burger_name: $("#bn").val().trim(),
                    devoured: 0
                };

                // Send the POST request.
                $.ajax("/api/burgers", {
                    type: "POST",
                    data: newBurger
                }).then(
                    function () {
                        console.log("created new burger");
                        // Reload the page to get the updated list
                        location.reload();
                    }
                );

            }
        });

        $(".devour-btn").on("click", function (event) {
            let id = $(this).data("id");

            let devouredState = {
                devoured: 1
            };

            // Send the PUT request.
            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: devouredState
            }).then(
                function () {
                    console.log(`burger ${id} was devoured`);
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });
    });

</script>